<header class="header">
    <div class="header-top">
        <h1 class="site-title">LaBelleBalade</h1>
        <nav class="navbar">
            <ul class="navbar_list">
                <li class="navbar_list_item"><a routerLink="">Categories</a></li>
                <li class="navbar_list_item"><a routerLink="connexion">Connexion</a></li>
                <li class="navbar_list_item"><a routerLink="inscription">Inscription</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-bottom">
        <h2 class="site-description">Organisation de balade dans toute la France</h2>
        <div class="search-form">
            <input type="text" class="search-bar" placeholder="Recherchez une balade">
            <input type="submit" class="search-submit" value="Rechercher">
        </div>
    </div>
</header>
